<p id="notice"><%= notice %></p>

<h1>Blocked Dates</h1>

<table class="table">
  <thead>
    <tr>
      <th>Starting</th>
      <th>Ending</th>
      <th colspan="3" class="w-25"></th>
    </tr>
  </thead>

  <tbody>
    <% @blocked_dates.each do |blocked_date| %>
      <tr>
        <td><%= blocked_date.starting_date.strftime("%d-%m-%Y") %></td>
        <td><%= blocked_date.ending_date.strftime("%d-%m-%Y") %></td>
<!--        <td><%#= link_to 'Show', blocked_date, class: 'btn btn-light' %></td>-->
<!--        <td><%#= link_to 'Edit', edit_blocked_date_path(blocked_date), class: 'btn btn-light' %></td>-->
        <td><%= link_to 'Destroy', blocked_date, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="row">
  <div class="col-md-2">
    <%= link_to 'New Blocked Date', new_blocked_date_path, class: 'btn btn-primary btn-block' %>
  </div>
</div>
<div class="row">
  <div class="col-md-2 mt-2">
    <%= link_to 'Logout', destroy_user_session_path, method: 'delete', class: 'btn btn-danger btn-block' %>
  </div>
</div>