<div class="row d-flex justify-content-center">
  <div class="row">
    <div class="col-md-6 offset-5">
      <h1>New Blocked Date</h1>

      <%= render 'form', blocked_date: @blocked_date %>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-md-2">
      <div class="field mt-4">
        <%= link_to 'Back', blocked_dates_path, class: 'btn btn-primary btn-block' %>
      </div>
    </div>
  </div>
</div>